.header{
	background: grey;
	position: relative;
	top: -70px;
	height: 750px;
	width: 100%;
}
.header>#myCarousel{
	width: 100%;
	height: 100%;
}
nav.navbar{
	z-index: 1;
}
.carousel-inner>div>img{
	width: 100%; height: 100%;
}
.carousel-inner{width: 100%; height: 100%;}

.texto{position: relative;z-index: 0; top: -55%;}
.carousel-control{z-index: 3;}